schema/fabric.xsd


<!--
      Copyright (c) 2017 Juniper Networks, Inc. All rights reserved.
 -->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:smi="urn:ietf:params:xml:ns:opsawg:smi:base:1.0">

<xsd:complexType name="ExecutableInfoType">
    <xsd:all>
        <xsd:element name="executable-path" type="xsd:string" required="true"
                     description="absolute path of the binary to execute"/>
        <xsd:element name="executable-args" type="xsd:string" required="optional"
                     description="Optional arguments to be passed to the executable"/>
        <xsd:element name="job-completion-weightage" type="xsd:integer" default='100'
                     description="Job percentage completion when this executable is completed." />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="ExecutableInfoListType">
    <xsd:all>
        <xsd:element name="executable-info" type="ExecutableInfoType" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="PlaybookInfoType">
    <xsd:all>
        <xsd:element name="playbook-uri" type="xsd:string" required="true"
                     description="uri to the playbook location on the file server"/>
        <xsd:element name="multi-device-playbook" type="xsd:boolean" default='false'
                     description="if set to true, the execute-job action url uses the job-template parameter 'device-list' to execute the playbook in parallel"/>
        <xsd:element name="vendor" type="xsd:string" required="optional"
                     description="Vendor name"/>
        <xsd:element name="device-family" type="xsd:string" required="optional"
                     description="Device family name"/>
        <xsd:element name="job-completion-weightage" type="xsd:integer" default='100'
                     description="Job percentage completion when this playbook is completed. This attribute value should 100 if there is only one playbook defined in the job template. The job-completion-weigtages for all playbooks in the same job-template should add up to 100 exact."/>
        <xsd:element name="sequence-no" type="xsd:integer" required="optional"
                     description="Sequence number of the playbook"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="PlaybookInfoListType">
    <xsd:all>
        <xsd:element name="playbook-info" type="PlaybookInfoType" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="VpgInterfaceParametersType">
    <xsd:all>
        <xsd:element name="ae-num" type="xsd:integer"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="DeviceCredential">
    <xsd:all>
        <xsd:element name="credential" type="UserCredentials" required="true"/>
        <xsd:element name="vendor" type="xsd:string" required="optional"/>
        <xsd:element name="device-family" type="xsd:string" required="optional"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="DeviceCredentialList">
    <xsd:all>
        <xsd:element name="device-credential" type="DeviceCredential" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="DataCenterInterconnectModes">
     <xsd:restriction base="xsd:string">
         <xsd:enumeration value="l3"/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="CliDiffInfoType">
    <xsd:all>
        <xsd:element name="username" type="xsd:string"/>
        <xsd:element name="time" type="xsd:string"/>
        <xsd:element name="config_changes" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="CliDiffListType">
    <xsd:all>
        <xsd:element name="commit-diff-info" type="CliDiffInfoType" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="StormControlActionType">
     <xsd:restriction base="xsd:string">
         <xsd:enumeration value="interface-shutdown"/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="StormControlParameters">
    <xsd:all>
        <xsd:element name="storm-control-actions" type="StormControlActionType" maxOccurs="unbounded"
                     description= "Default action (Discard) is implicit. In addition, other list of actions can be specified here" />
        <xsd:element name="recovery-timeout" type="xsd:integer" required="optional"
                     description= "Timeout in seconds. This enables the affected interface to recover automatically from the error condition after the specified period of time" />
        <xsd:element name="no-unregistered-multicast" type="xsd:boolean" default="false"
                     description= "if set to true, disable unregistered multicast traffic storm control" />
        <xsd:element name="no-registered-multicast" type="xsd:boolean" default="false"
                     description= "if set to true, disable registered multicast traffic storm control" />
        <xsd:element name="no-unknown-unicast" type="xsd:boolean" default="false"
                     description= "if set to true, disable unknown unicast traffic storm control" />
        <xsd:element name="no-multicast" type="xsd:boolean" default="false"
                     description= "if set to true, disable muticast traffic storm control" />
        <xsd:element name="no-broadcast" type="xsd:boolean" default="false"
                     description= "if set to true, disable broadcast traffic storm control" />
        <xsd:element name="bandwidth-percent" type="xsd:integer" required="true"
                     description= "Configure storm control bandwidth level as percentage" />
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="SampleRate">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="1"/>
        <xsd:maxInclusive value="16777215"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PollingInterval">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="0"/>
        <xsd:maxInclusive value="3600"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="AdativeSampleRate">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="300"/>
        <xsd:maxInclusive value="900"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="SampleDirection">
     <xsd:restriction base="xsd:string">
         <xsd:enumeration value="ingress"/>
         <xsd:enumeration value="egress"/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="StatsCollectionFrequency">
    <xsd:all>
        <xsd:element name="sample-rate" type="SampleRate" required="optional" default="2000"/>
        <xsd:element name="polling-interval" type="PollingInterval" required="optional" default="0"/>
        <xsd:element name="direction" type="SampleDirection" required="optional"/>
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="EnabledInterfaceType">
     <xsd:restriction base="xsd:string">
         <xsd:enumeration value="all"/>
         <xsd:enumeration value="fabric"/>
         <xsd:enumeration value="service"/>
         <xsd:enumeration value="access"/>
         <xsd:enumeration value="custom"/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="EnabledInterfaceParams">
    <xsd:all>
        <xsd:element name="name" type="xsd:string"/>
        <xsd:element name="stats-collection-frequency" type="StatsCollectionFrequency"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="SflowParameters">
    <xsd:all>
       <xsd:element name="stats-collection-frequency" type="StatsCollectionFrequency"
            description= "Represents polling interval and sample rate either at the global level or at per interface level. Polling interval is specified in seconds that the device waits between port statistics update messages. Sample rate is specified as a number (one packet out of number)." />
       <xsd:element name="agent-id" type="smi:IpAddress"
            description= "IP address to be assigned as the agent ID for the sFlow agent." />
       <xsd:element name="adaptive-sample-rate" type="AdativeSampleRate" required="optional" default="300"
            description= "Represents  maximum number of samples that should be generated per line card." />
       <xsd:element name="enabled-interface-type" type="EnabledInterfaceType"
            description= "User can enable sflow either on all interfaces or all fabric ports or all access ports or custom list of interfaces." />
       <xsd:element name="enabled-interface-params" type="EnabledInterfaceParams" maxOccurs="unbounded"
            description= "If interface type is set to custom, this represents the list of physical interfaces to be enabled for sflow. User can specify polling interval and sample rate for each interface in this custom list." />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="QualityOfServiceParams">
    <xsd:all>
        <xsd:element name="untrust-interface" type="xsd:boolean" default="false"/>
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="LacpMode">
     <xsd:restriction base="xsd:string">
         <xsd:enumeration value="active"/>
         <xsd:enumeration value="passive"/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LacpInterval">
     <xsd:restriction base="xsd:string">
         <xsd:enumeration value="fast"/>
         <xsd:enumeration value="slow"/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LacpParams">
    <xsd:all>
        <xsd:element name="lacp-enable" type="xsd:boolean" default="false"
            description="Enable or disable this option for configuring LACP related params" />
        <xsd:element name="lacp-interval" type="LacpInterval"
            description= "Timer interval for periodic transmission of LACP packets. Fast mode receives packets every second. Slow mode receives packets every 30 seconds." />
       <xsd:element name="lacp-mode" type="LacpMode"
            description= "Configure this mode to active to initiate transmission of LACP packets and respond to LACP packets. LACP packets are not exchanged with passive mode." />
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="PortMtu">
    <xsd:restriction base="xsd:integer">
        <xsd:minInclusive value="256"/>
        <xsd:maxInclusive value="9216"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="PortParameters">
    <xsd:all>
        <xsd:element name="port-disable" type="xsd:boolean" default="false"/>
        <xsd:element name="port-mtu" type="PortMtu" />
        <xsd:element name="port-description" type="xsd:string" />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="PortProfileParameters">
    <xsd:all>
       <xsd:element name="port-params" type="PortParameters"
            description= "User can select this option to configure port parameters such as description, MTU and port enable or disable." />
       <xsd:element name="flow-control" type="xsd:boolean" default="false"
            description= "User can enable this option to configure flow control." />
       <xsd:element name="lacp-params" type="LacpParams"
            description= "Represents LACP configuration parameters." />
       <xsd:element name="bpdu-loop-protection" type="xsd:boolean" default="false"
            description= "User can enable this option to prevent loops on edge interfaces. This is applied on unit with family ethernet-switching." />
       <xsd:element name="qos-params" type="QualityOfServiceParams"
            description= "This is to configure any parameters affecting quality of service" />
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="FabricNetworkType">
     <xsd:restriction base="xsd:string">
         <xsd:enumeration value="management"/>
         <xsd:enumeration value="loopback"/>
         <xsd:enumeration value="ip-fabric"/>
         <xsd:enumeration value="pnf-servicechain"/>
         <xsd:enumeration value="overlay-loopback"/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="FabricNetworkTag">
    <xsd:all>
        <xsd:element name="network-type" type="FabricNetworkType"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="SerialNumListType">
    <xsd:all>
        <xsd:element name="serial-num" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="AsnRangeType">
     <xsd:all>
         <xsd:element name="asn_min" type="xsd:integer"/>
         <xsd:element name="asn_max" type="xsd:integer"/>
     </xsd:all>
</xsd:complexType>

<xsd:simpleType name="NamespaceType">
     <xsd:restriction base="xsd:string">
         <xsd:enumeration value="IPV4-CIDR"/>
         <xsd:enumeration value="ASN"/>
         <xsd:enumeration value="ASN_RANGE"/>
         <xsd:enumeration value="MAC_ADDR"/>
         <xsd:enumeration value="SERIAL_NUM"/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="NamespaceValue">
    <xsd:choice>
        <xsd:element name="ipv4-cidr" type="SubnetListType" required="optional"
             description="Namespace as IPV4 CIDR addresses"/>
        <xsd:element name="asn" type="AutonomousSystemsType" required="optional"
             description="Namespace as Autonomous System Numbers"/>
        <xsd:element name="mac-addr" type="MacAddressesType" required="optional"
             description="Namespace as MAC addresses"/>
        <xsd:element name="asn-ranges" type="AsnRangeType" required="optional" maxOccurs="unbounded"
             description="Namespace as ASN ranges"/>
        <xsd:element name="serial-nums" type="xsd:string" required="optional" maxOccurs="unbounded"
             description="Namespace as MAC addresses"/>
    </xsd:choice>
</xsd:complexType>

<xsd:complexType name="DevicePlatformListType">
    <xsd:element name="platform-name" type="xsd:string" maxOccurs="unbounded"/>
</xsd:complexType>

<xsd:simpleType name="PhysicalInterfaceType">
     <xsd:restriction base='xsd:string'>
         <xsd:enumeration value='regular'/>
         <xsd:enumeration value='lag'/>
         <xsd:enumeration value='service'/>
         <xsd:enumeration value='fabric'/>
         <xsd:enumeration value='access'/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LogicalInterfaceType">
     <xsd:restriction base='xsd:string'>
         <xsd:enumeration value='l2'/>
         <xsd:enumeration value='l3'/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PhysicalRouterRole">
     <xsd:restriction base='xsd:string'>
         <xsd:enumeration value='spine'/>
         <xsd:enumeration value='leaf'/>
         <xsd:enumeration value='e2-access'/>
         <xsd:enumeration value='e2-provider'/>
         <xsd:enumeration value='e2-internet'/>
         <xsd:enumeration value='e2-vrr'/>
         <xsd:enumeration value='pnf'/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="InterfaceType">
     <xsd:restriction base="xsd:string">
         <xsd:enumeration value="fc"/>
         <xsd:enumeration value="ge"/>
         <xsd:enumeration value="xe"/>
         <xsd:enumeration value="xle"/>
         <xsd:enumeration value="et"/>
         <xsd:enumeration value="fte"/>
         <xsd:enumeration value="me"/>
         <xsd:enumeration value="em"/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="PortSpeedType">
     <xsd:restriction base="xsd:string">
         <xsd:enumeration value="1G"/>
         <xsd:enumeration value="10G"/>
         <xsd:enumeration value="40G"/>
         <xsd:enumeration value="100G"/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="PortInfoType">
     <xsd:all>
         <xsd:element name="name" type="xsd:string"/>
         <xsd:element name="type" type="InterfaceType"/>
         <xsd:element name="port-speed" type="PortSpeedType"/>
         <xsd:element name="channelized" type="xsd:boolean" default="false"/>
         <xsd:element name="channelized-port-speed" type="PortSpeedType"/>
         <xsd:element name="port-group" type="xsd:string"/>
         <xsd:element name="labels" type="xsd:string" maxOccurs="unbounded"/>
     </xsd:all>
</xsd:complexType>

<xsd:complexType name="InterfaceMapType">
     <xsd:element name="port-info" type="PortInfoType" maxOccurs="unbounded"/>
</xsd:complexType>

<xsd:complexType name="RoutingBridgingRolesType">
    <xsd:element name="rb-roles" type="xsd:string" maxOccurs="unbounded"/>
</xsd:complexType>

<xsd:complexType name="NodeProfileRolesType">
    <xsd:element name="role-mappings" type="NodeProfileRoleType" maxOccurs="unbounded"/>
</xsd:complexType>

<xsd:complexType name="NodeProfileRoleType">
     <xsd:element name="physical-role" type="xsd:string" />
     <xsd:element name="rb-roles" type="xsd:string" maxOccurs="unbounded"/>
</xsd:complexType>

<xsd:complexType name="UserCredentials">
    <xsd:all>
        <xsd:element name="username" type="xsd:string"/>
        <xsd:element name="password" type="xsd:string"/>
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="CredentialEncryptionType">
     <xsd:restriction base="xsd:string">
         <xsd:enumeration value="none" description="Not encrypted"/>
         <xsd:enumeration value="local" description="Encrypted using object UUID, e.g. physical-router UUID"/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="SNMPCredentials">
    <xsd:all>
        <xsd:element name="version" type='xsd:integer' default='2'/>
        <xsd:element name="local-port" type='xsd:integer'/>
        <xsd:element name="retries" type='xsd:integer'/>
        <xsd:element name="timeout" type='xsd:integer'/>
        <xsd:element name="v2-community" type='xsd:string'/>
        <xsd:element name="v3-security-name" type='xsd:string'/>
        <xsd:element name="v3-security-level" type='xsd:string'/>
        <xsd:element name="v3-security-engine-id" type='xsd:string'/>
        <xsd:element name="v3-context" type='xsd:string'/>
        <xsd:element name="v3-context-engine-id" type='xsd:string'/>
        <xsd:element name="v3-authentication-protocol" type='xsd:string'/>
        <xsd:element name="v3-authentication-password" type='xsd:string'/>
        <xsd:element name="v3-privacy-protocol" type='xsd:string'/>
        <xsd:element name="v3-privacy-password" type='xsd:string'/>
        <xsd:element name="v3-engine-id" type='xsd:string'/>
        <xsd:element name="v3-engine-boots" type='xsd:integer'/>
        <xsd:element name="v3-engine-time" type='xsd:integer'/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="DnsmasqLeaseParameters">
    <xsd:all>
        <xsd:element name="lease_expiry_time" type='xsd:integer'/>
        <xsd:element name="client_id" type='xsd:string'/>
    </xsd:all>
</xsd:complexType>

<xsd:simpleType name="JobConcurrencyLevelType">
    <xsd:restriction base='xsd:string'>
        <xsd:enumeration value='fabric'/>
        <xsd:enumeration value='device'/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="JobTemplateType">
    <xsd:restriction base='xsd:string'>
        <xsd:enumeration value='workflow'/>
        <xsd:enumeration value='device_operation'/>
        <xsd:enumeration value='config'/>
        <xsd:enumeration value='executable'/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="DataCenterInterConnectType" default='inter_fabric'>
    <xsd:restriction base='xsd:string'>
        <xsd:enumeration value='inter_fabric'/>
        <xsd:enumeration value='intra_fabric'/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="LogicalRouterPRListType">
    <xsd:all>
        <xsd:element name="logical-router-list" type="LogicalRouterPRListParams" maxOccurs="unbounded"
             description='List of Destination LRs properties'/>
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="LogicalRouterPRListParams">
    <xsd:all>
        <xsd:element name="logical-router-uuid" type="xsd:string" required='true' description="stores destination logical router uuid for dci intra-fabric type."/>
        <xsd:element name="physical-router-uuid-list" type="xsd:string" required='true' maxOccurs="unbounded"
            description="list of physical routers uuid exists in current destination logical-router and user has selected this PR for dci intra-fabric route leaks."/>
    </xsd:all>
</xsd:complexType>

<xsd:element name="job-template" type="ifmap:IdentityType"/>

<xsd:element name="global-system-config-job-template"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('global-system-config-job-template',
             'global-system-config', 'job-template', ['has'], 'optional', 'CRUD',
             'List of job templates supported by the system.') -->

<xsd:element name="job-template-synchronous-job" type="xsd:boolean"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('job-template-synchronous-job', 'job-template', 'required', 'CRUD',
              'if set to true, the "/execute-job" action simply executes the playbook directly and wait until the playbook finishes. So the playbook in the synchronous job should not take long to execute. There will no job log or job uve being created for synchronous job. This is an optional field. If not set, the default value is "false".') -->
<xsd:element name="job-template-type" type="JobTemplateType"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('job-template-type', 'job-template', 'required', 'CRUD',
              'This attribute is to identify the template type. This property is mainly needed to list all generic device operations in the UI. There are at present 4 types. Workflow based (e.g. fabric onboarding, existing fabric onboarding), device operation based (standalone like e.g. device discovery, device import, discover role), config based (e.g. role_assignment, fabric_config) and device command based (for generic device operations)') -->
<xsd:element name="job-template-concurrency-level" type="JobConcurrencyLevelType"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('job-template-concurrency-level', 'job-template', 'required', 'CRUD',
              'This attribute controls the number concurrent job execution against the same fabric. When this attribute set to "fabric", there could only one job execution per fabric When this attribute set to "device", there could be only one playbook execution running against the same device at the time. ') -->
<xsd:element name="job-template-playbooks" type="PlaybookInfoListType"/>
<!--#IFMAP-SEMANTICS-IDL
          ListProperty('job-template-playbooks', 'job-template', 'required', 'CRUD',
              'List of vendor specific playbooks that achieve the same functionality on each vendor device. All the vendor specific playbooks listed here share the same input/output schema defined in the job template') -->
<xsd:element name="job-template-executables" type="ExecutableInfoListType"/>
<!--#IFMAP-SEMANTICS-IDL
          ListProperty('job-template-executables', 'job-template', 'optional', 'CRUD',
              'List of Executables that needs to be Executed') -->
<xsd:element name="job-template-input-schema" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('job-template-input-schema', 'job-template', 'optional', 'CRUD',
              'JSON schema of the job input parameters which will be used to validate the job input json or generate UI form for user to enter the job parameters. This property stores the JSON schema content as string. Here is an example fo the image upgrade job template input schema:
{
    "$schema": "http://json-schema.org/draft-06/schema#",
    "title": "Image upgrade input",
    "type": "object",
    "properties": {
        "image_uuid": {
            "type": "string"
        }
    },
    "required": ["image_uuid"]
}') -->
<xsd:element name="job-template-output-schema" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('job-template-output-schema', 'job-template', 'optional', 'CRUD',
              'JSON schema of the job output that describes the output from the job and could be used by UI to render the output automatically. This property stores the JSON schema content as string.') -->
<xsd:element name="job-template-input-ui-schema" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('job-template-input-ui-schema', 'job-template', 'optional', 'CRUD',
              'UI JSON schema of the job input that could be used by UI to render the input form with certain nice-to-have features like ordering of the input fields, placeholders etc. This property stores the UI JSON schema content as string.') -->
<xsd:element name="job-template-output-ui-schema" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('job-template-output-ui-schema', 'job-template', 'optional', 'CRUD',
              'UI JSON schema of the job output that could be used by UI to render the input form with certain nice-to-have features like ordering of the output fields etc. This property stores the UI JSON schema content as string.') -->
<xsd:element name="job-template-description" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('job-template-description', 'job-template', 'optional', 'CRUD',
              'A detailed description of what the job template functionality is') -->

<xsd:element name="data-center-interconnect" type="ifmap:IdentityType"/>

<xsd:element name="data-center-interconnect-logical-router"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('data-center-interconnect-logical-router',
             'data-center-interconnect', 'logical-router', ['ref'], 'optional', 'CRUD',
             'List of LRs one from each fabric participating in the DCI, each LR belongs to different fabric') -->

<xsd:element name="data-center-interconnect-bgp-hold-time" type="BgpHoldTime"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('data-center-interconnect-bgp-hold-time', 'data-center-interconnect', 'optional', 'CRUD',
              'BGP hold time in seconds [0-65535], Max time to detect liveliness to peer. Value 0 will result in default value of 90 seconds.') -->

<xsd:element name="data-center-interconnect-mode" type="DataCenterInterconnectModes"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('data-center-interconnect-mode', 'data-center-interconnect', 'optional', 'CRUD',
              'Data center interconnect mode one of L2 stretch or L3') -->

<xsd:element name="data-center-interconnect-bgp-address-families" type="AddressFamilies"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('data-center-interconnect-bgp-address-families', 'data-center-interconnect', 'optional', 'CRUD',
              'BGP address families supported by BGP router.') -->

<xsd:element name="data-center-interconnect-virtual-network"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('data-center-interconnect-virtual-network',
             'data-center-interconnect', 'virtual-network', ['ref'], 'optional', 'CRUD',
             'reference to auto created internal virtual network, used for connecting different data centers for DCI type inter-fabric. For intra-fabric type DCI, if user does not provided any DCI-routing-policy then this refs holds list of tenant virtual networks refs provided and selected by users. this refs will be list of tenant VN which existed in source LR for intra-fabric type DCI. routes will be leak only for this list of VNs subnets in intra-fabric DCI.') -->

<xsd:element name="data-center-interconnect-configured-route-target-list" type="RouteTargetList"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('data-center-interconnect-configured-route-target-list', 'data-center-interconnect', 'optional', 'CRUD',
              'List of route targets that represent this logical router, all virtual networks connected to this DCI will have this as their route target list.') -->

<xsd:element name="data-center-interconnect-type" type='DataCenterInterConnectType'
             description='DCI Type. inter-fabric type is across the two fabrics. intra-fabric type is within a single fabric. For intra-fabric type, DCI-virtual-network-refs, DCI-routing-policy and destination-physical-router-list properties should have valid values. It gets used to leak the routes from first entry defined in DCI-logical-router-refs as source LR to destination LR(s) defined in DCI-logical-router-refs second and on wards entries'/>
<!--#IFMAP-SEMANTICS-IDL
     Property('data-center-interconnect-type', 'data-center-interconnect', 'optional', 'CRUD',
              'Defines type of DCI, inter-fabric is across two fabric. intra-fabric is single fabric.') -->

<xsd:element name="data-center-interconnect-routing-policy"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('data-center-interconnect-routing-policy', 'data-center-interconnect', 'routing-policy', ['ref'], 'optional', 'CRUD',
              'Used only if DCI-type is intra-fabric. it stores the List of routing policies for this DCI to be used as import policies between logical routers. if any single or more routing policy defined in this property then DCI-virtual-network-refs property value will be ignored for route leaks route-filter.') -->

<xsd:element name="destination-physical-router-list" type='LogicalRouterPRListType'
             description='Used only if DCI-type is intra-fabric. it stores the List of physical router uuids per destination logical router. this physical router must be existed in respective destination logical router and user has selected for route to be leaks on this PR for intra-fabric DCI type. User selects this PR(s) per destination LR to leak routes from source LR to destination LR on this list of PRs only.'/>
<!--#IFMAP-SEMANTICS-IDL
     Property('destination-physical-router-list', 'data-center-interconnect', 'optional', 'CRUD',
              'holds List of physical router uuid of destination LR(s) in intra-fabric type DCI object') -->

<xsd:element name="global-system-config-data-center-interconnect"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('global-system-config-data-center-interconnect',
             'global-system-config', 'data-center-interconnect', ['has'], 'optional', 'CRUD',
             'List of DCI Objects in the system. Each DCI represents an interconnect of Multiple Fabrics or interconnect of LRs in same fabric.') -->

<xsd:simpleType name="IntentType">
     <xsd:restriction base="xsd:string">
         <xsd:enumeration value="assisted-replicator"/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:element name="intent-map" type="ifmap:IdentityType"/>

<xsd:element name="global-system-config-intent-map"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('global-system-config-intent-map',
             'global-system-config', 'intent-map', ['has'], 'optional', 'CRUD',
             'List of intent-maps in the system.') -->

<xsd:element name="intent-map-intent-type" type="IntentType"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('intent-map-intent-type', 'intent-map', 'optional', 'CRUD',
              'Based on this value we determine what intent model we are serving') -->

<xsd:element name="physical-router-intent-map" />
<!--#IFMAP-SEMANTICS-IDL
          Link('physical-router-intent-map',
             'physical-router', 'intent-map', ['ref'], 'optional', 'CRUD',
             'The Physical Routers on which the config needs to be pushed') -->

<xsd:element name="virtual-network-intent-map" />
<!--#IFMAP-SEMANTICS-IDL
          Link('virtual-network-intent-map',
             'virtual-network', 'intent-map',  ['ref'], 'optional', 'CRUD',
             'All virtual-network objects that get created in the fabric') -->

<xsd:element name="fabric-intent-map" />
<!--#IFMAP-SEMANTICS-IDL
          Link('fabric-intent-map',
             'fabric', 'intent-map',  ['ref'], 'optional', 'CRUD',
             'Fabric that belongs to this intent map') -->


<xsd:element name="fabric" type="ifmap:IdentityType"/>

<xsd:element name="fabric-ztp" type="xsd:boolean"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('fabric-ztp', 'fabric', 'optional', 'CRUD',
              'This attribute to indicate if the fabric is zero-touch provisioned or not. If this attribute is set to "True", user should not be allowed to remove any existing namespaces from the fabric as they may be used to provision the devices.') -->

<xsd:element name="fabric-os-version" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('fabric-os-version', 'fabric', 'optional', 'CRUD',
              'OS version of the entire fabric. It is updated when image upgrade is chosen during ztp.') -->

<xsd:element name="fabric-virtual-network" type="FabricNetworkTag"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('fabric-virtual-network',
             'fabric', 'virtual-network', ['ref'], 'optional', 'CRUD',
             'Similar to using virtual-machine to model the bare metal server, we are using virtual-network to model various underlay networks such as the management network and IP fabric network. This would allow us the re-use the same IPAM data model and code base to manage the IP auto-assignments for the underlay physical networks.') -->

<xsd:element name="global-system-config-fabric"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('global-system-config-fabric',
             'global-system-config', 'fabric', ['has'], 'optional', 'CRUD',
             'List of fabrics in the system. Each fabric is an administrative domain for all the network devices in one or multiple CLOS.') -->

<xsd:element name="supported-fabric-annotations" type="KeyValuePairs"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('supported-fabric-annotations', 'global-system-config', 'optional', 'CRUD',
              'List of supported annotations that can be used to annotate a Contrail Fabric. These annoations are used as directives, or hints to assign resources defined in namespaces to the network devices. For example, `igp-protocol: ospf` attribute could be used by the underlay provisioning playbook to choose which IGP protocol to use for the IP fabric.') -->

<xsd:element name="physical-router-fabric"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('physical-router-fabric',
             'physical-router', 'fabric', ['ref'], 'optional', 'CRUD',
             'Fabric that this physical-router belongs to.') -->

<xsd:element name="fabric-credentials" type="DeviceCredentialList"/>
<!--#IFMAP-SEMANTICS-IDL
          ListProperty('fabric-credentials', 'fabric', 'optional', 'CRUD',
              'List of device credentials to manage the network devices in the fabric.') -->

<xsd:element name="fabric-namespace" type="ifmap:IdentityType"/>

<xsd:element name="fabric-fabric-namespace"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('fabric-fabric-namespace', 'fabric', 'fabric-namespace', ['has'], 'optional', 'CRUD',
             'list of fabric namespaces that define a set of resources that can be used to configure the network devices in the fabric.') -->

<xsd:element name="fabric-namespace-type" type="NamespaceType"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('fabric-namespace-type', 'fabric-namespace', 'optional', 'CRUD',
              'Supported namespace types') -->
<xsd:element name="fabric-namespace-value" type="NamespaceValue"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('fabric-namespace-value', 'fabric-namespace', 'optional', 'CRUD',
              'namespace value of type defined by the namespace-type.') -->

<xsd:element name="fabric-enterprise-style" type="xsd:boolean" default='true'/>
<!--#IFMAP-SEMANTICS-IDL
          Property('fabric-enterprise-style', 'fabric', 'optional', 'CRUD',
              'This attribute indicates whether to use enterprise-style or sp-style configuration in the fabric. True indicated enterprise-style.') -->

<xsd:element name="disable-vlan-vn-uniqueness-check" type="xsd:boolean" default='false'/>
<!--#IFMAP-SEMANTICS-IDL
          Property('disable-vlan-vn-uniqueness-check', 'fabric', 'optional', 'CRUD',
              'This attribute indicates whether complex validations for VLAN-VN uniqueness check should be done for enterprise style VPGs in the fabric. Default behaviour is to enable all the validations.') -->

<xsd:element name="hardware" type="ifmap:IdentityType"
    description="This resource contains the information about the device hardware info. This resource name must follow the convention: '[vendor name]-[hardware platform name]', for example, 'juniper-mx80'."/>


<xsd:element name="card" type="ifmap:IdentityType"
    description="This resource contains the information about the interface card in a hardware platform."/>

<xsd:element name="interface-map" type="InterfaceMapType"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('interface-map', 'card', 'required', 'CRUD',
              'Interface map of all the physical ports on a physical interface card.') -->

<xsd:element name="hardware-card"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('hardware-card', 'hardware', 'card', ['ref'], 'optional', 'CRUD',
             'List of installed interface cards in a specific hardware platform.') -->

<xsd:element name="device-chassis" type="ifmap:IdentityType"
    description="This resource contains information about the device chassis. The PR can refer to this object for chassis details. This resource name must follow the convention: 'vendorname_chassismac' (replacing mac ':' with '_'), for example, 'juniper_00_11_22_33_44_55' "/>
<xsd:element name="device-chassis-type" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('device-chassis-type', 'device-chassis', 'optional', 'CRUD',
              'type of the chassis address if known.') -->

<xsd:simpleType name="NodeProfileType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="physical-router"/>
        <xsd:enumeration value="end-system"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:element name="node-profile" type="ifmap:IdentityType"
    description="Node profile contains the meta-data to profile/categorize the devices so that a list of supported capabilities/roles by the device are known to the system. For example, we can define a node profile to specify list of capabilities/roles supported by a set of QFX10K devices with certain hardware/software installed. It also contains the default config parameter values for each supported roles/capability. These are the config parameters that are not modeled in the VNC data model. They could be vendor specific config parameters that we allow user to tweak via API or some kind of auto generated UI from job template input schema. The UML diagram for node-profile can be found at https://github.com/jnpr-tjiang/cfm-data-model/blob/master/5.0.1-data-model/images/node_profile.png"/>

<xsd:element name="node-profile-type" type="NodeProfileType" default="physical-router"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('node-profile-type', 'node-profile', 'optional', 'CRUD',
              'Node profile type to differentiate the node profile network devices from server node profiles.') -->
<xsd:element name="node-profile-vendor" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('node-profile-vendor', 'node-profile', 'required', 'CRUD',
              'Vendor name (e.g. Juniper) that this node profile can be used for.') -->
<xsd:element name="node-profile-device-family" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('node-profile-device-family', 'node-profile', 'required', 'CRUD',
              'Device family name that this node profile can be used to match.') -->
<xsd:element name="node-profile-hitless-upgrade" type="xsd:boolean"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('node-profile-hitless-upgrade', 'node-profile', 'required', 'CRUD',
              'if set to false, do not perform hitless image upgrade on devices using this node profile') -->
<xsd:element name="node-profile-roles" type="NodeProfileRolesType"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('node-profile-roles', 'node-profile', 'required', 'CRUD',
              'List of capable physical and routing-bridging role combinations supported by the devices that matches one of the hardware list defined in this node profile.') -->
<xsd:element name="node-profile-job-template"/>
<!--#IFMAP-SEMANTICS-IDL
               Link('node-profile-job-template', 'node-profile', 'job-template', ['ref'], 'optional', 'CRUD',
             'This reference associates the node profile to a job-template that contains a playbook that generates device
              specific role config and deploys it to the device. The role-config.config attribtue value must be in JSON
              format and conform to the input_schema defined in the job-template.') -->
<xsd:element name="global-system-config-node-profile"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('global-system-config-node-profile', 'global-system-config', 'node-profile', ['has'], 'optional', 'CRUD',
             'list of node profiles supported by the system.') -->
<xsd:element name="fabric-node-profile" type='SerialNumListType'/>
<!--#IFMAP-SEMANTICS-IDL
          Link('fabric-node-profile', 'fabric', 'node-profile', ['ref'], 'optional', 'CRUD',
             'node profiles assignd to the fabric. The serial number list on the link is used to auto assign node-profile during ZTP so that port channelization could be bootstrapped based on the hardware spec in the node profile.') -->
<xsd:element name="physical-router-node-profile"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('physical-router-node-profile', 'physical-router', 'node-profile', ['ref'], 'optional', 'CRUD',
             'Node profile assigned to the physical router during device discovery/onboarding.') -->
<xsd:element name="physical-router-device-functional-group"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('physical-router-device-functional-group',
             'physical-router', 'device-functional-group', ['ref'], 'optional', 'CRUD',
             'Device functional group that this physical-router belongs to.') -->
<xsd:element name="physical-router-device-chassis"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('physical-router-device-chassis', 'physical-router', 'device-chassis', ['ref'], 'optional', 'CRUD',
             'Device Chassis info assigned to the physical router during device discovery/onboarding.') -->
<xsd:element name="node-profile-hardware"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('node-profile-hardware', 'node-profile', 'hardware', ['ref'], 'optional', 'CRUD',
             'Hardware info defined in a node profile that are used to categorize the devices') -->
<xsd:element name="node-profile-role-definition"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('node-profile-role-definition', 'node-profile', 'role-definition', ['ref'], 'optional', 'CRUD',
             'list of role definitions supported for this node profile') -->

<xsd:element name="role-config" type="ifmap:IdentityType"
    description="This resource exposes to users additional parameters to configure a specify physical or routing/switching roles. These are the config parameters that are mot modeled in VNC data model and we don't want to hard code in the fabric ansible playbooks. These could be vendor specific parameters or could be extended by the field or customer who might want to tweak the playbooks. The schema for the role config are defined in the job-template.input_schema. This schema could be used by the UI to generically render the form for user to edit the config."/>

<xsd:element name="node-profile-role-config"/>
<!--#IFMAP-SEMANTICS-IDL
               Link('node-profile-role-config', 'node-profile', 'role-config', ['has'], 'optional', 'CRUD',
             'list of role configs for those physical or routing/bridging roles defined in the node-profile.') -->
<xsd:element name="role-config-config" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('role-config-config', 'role-config', 'required', 'CRUD',
              'role config in JSON format. This JSON config must conform to the input-schema of the job template for the role provisioning.') -->

<xsd:element name="device-functional-group" type="ifmap:IdentityType"
    description="Device functional group is used to group together any selected list of devices for the purpose of assigning identical attributes. For example, os-version, physical-roles, rb-roles"/>

<xsd:element name="project-device-functional-group"/>
<!--#IFMAP-SEMANTICS-IDL
         Link('project-device-functional-group',
              'project', 'device-functional-group', ['has'], 'optional', 'CRUD',
              'List of device functional groups in this project.')-->

<xsd:element name="device-functional-group-description" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('device-functional-group-description', 'device-functional-group', 'optional', 'CRUD',
              'Description of the functional group stating the functionality the devices would get if assigned to this group') -->

<xsd:element name="device-functional-group-os-version" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('device-functional-group-os-version', 'device-functional-group', 'optional', 'CRUD',
              'OS version for devices in this group. If set, it is the first choice for device image upgrade during ztp. If not set, fabric-os-version is used') -->

<xsd:element name="device-functional-group-routing-bridging-roles" type="RoutingBridgingRolesType"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('device-functional-group-routing-bridging-roles', 'device-functional-group', 'optional', 'CRUD',
              'Routing-bridging role (e.g. CRB, ERB, etc.), used by the device manager to provision physical router, for e.g device manager may choose to configure physical router based on its role.') -->

<xsd:element name="device-functional-group-physical-role"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('device-functional-group-physical-role', 'device-functional-group', 'physical-role', ['ref'], 'optional', 'CRUD',
             'Physical role assigned to all physical routers which are members of this device functional group') -->

<xsd:element name="physical-router" type="ifmap:IdentityType"/>
<xsd:element name="global-system-config-physical-router"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('global-system-config-physical-router',
             'global-system-config', 'physical-router', ['has'], 'optional', 'CRUD',
             'Physical router object represent any physical device that participates in virtual networking, like routers, switches, servers, firewalls etc.') -->

<xsd:element name="physical-router-device-image"/>
<!--#IFMAP-SEMANTICS-IDL
         Link('physical-router-device-image', 'physical-router', 'device-image', ['ref'], 'optional', 'CRUD',
         'Intended device image for this PRouter. Each PRouter can have one and only one device image assigned. If this image is successfully installed on the PRouter, the PRouterUVE.os_version should match the os-version property of the image') -->

<xsd:element name="physical-router-link-aggregation-group"/>
<!--#IFMAP-SEMANTICS-IDL
         Link('physical-router-link-aggregation-group', 'physical-router', 'link-aggregation-group', ['has'], 'optional', 'CRUD',
         'List of link aggregation groups on this PRouter.') -->

<xsd:element name="physical-router-physical-role"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('physical-router-physical-role', 'physical-router', 'physical-role', ['ref'], 'optional', 'CRUD',
             'Physical role assigned to this physical router') -->

<xsd:element name="physical-router-overlay-role"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('physical-router-overlay-role', 'physical-router', 'overlay-role', ['ref'], 'optional', 'CRUD',
             'Overlay roles assigned to this physical router') -->

<xsd:element name="hardware-inventory" type="ifmap:IdentityType"/>
<xsd:element name="physical-router-hardware-inventory"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('physical-router-hardware-inventory',
          'physical-router', 'hardware-inventory', ['has'], 'optional', 'CRUD',
          'Hardware Inventory on a physical router.') -->
<xsd:element name="hardware-inventory-inventory-info" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('hardware-inventory-inventory-info', 'hardware-inventory', 'optional', 'CRUD',
              'chassis inventory info of the physical router. Stored as json string. Will be used to render chassis hardware details in UI') -->
<xsd:element name="cli-config" type="ifmap:IdentityType"/>

<xsd:element name="physical-router-cli-config"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('physical-router-cli-config',
          'physical-router', 'cli-config', ['has'], 'optional', 'CRUD',
          'CLI commits done on a physical router.') -->
<xsd:element name="accepted-cli-config" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('accepted-cli-config', 'cli-config', 'optional', 'CRUD',
              'Aggregated cli accepted configs. This config will be pushed when the device undergoes RMA along with Contrail configuration') -->
<xsd:element name="commit-diff-list" type="CliDiffListType"/>
<!--#IFMAP-SEMANTICS-IDL
          ListProperty('commit-diff-list', 'cli-config', 'optional', 'CRUD',
              'CLI diff object containing details about the commit such as username, time and the configuration diff') -->

<xsd:element name="physical-interface" type="ifmap:IdentityType"/>
<xsd:element name="ethernet-segment-identifier" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('ethernet-segment-identifier', 'physical-interface', 'optional', 'CRUD',
              'Ethernet Segment Id configured for the Physical Interface. In a multihomed environment, user should configure the peer Physical interface with the same ESI.') -->

<xsd:element name="physical-interface-type" type="PhysicalInterfaceType"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-interface-type', 'physical-interface', 'optional', 'CRUD',
              'Physical interface type that can be either regular/LAG/service/fabric/access link.') -->

<xsd:element name="physical-interface-mac-addresses" type="MacAddressesType"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-interface-mac-addresses', 'physical-interface', 'optional', 'CRUD',
              'MAC addresses on this physical interface.') -->

<xsd:element name="physical-interface-port-id" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-interface-port-id', 'physical-interface', 'optional', 'CRUD',
              'port id of this physical interface. This port id is used in LLDP to identify a physical port on the peering device') -->

<xsd:element name="physical-interface-flow-control" type="xsd:boolean" default="false"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-interface-flow-control', 'physical-interface', 'optional', 'CRUD',
              'User can enable this option to configure flow control on the physical interface.') -->

<xsd:element name="physical-interface-lacp-force-up" type="xsd:boolean" default="false"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-interface-lacp-force-up', 'physical-interface', 'optional', 'CRUD',
              'User can enable this option to make LACP up and running. This is applicable only on individual member physical interfaces of a VPG.') -->

<xsd:element name="physical-interface-port-params" type="PortParameters"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-interface-port-params', 'physical-interface', 'optional', 'CRUD',
              'User can select this option to configure port parameters such as description, MTU and port enable or disable.') -->

<xsd:element name="physical-router-physical-interface"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('physical-router-physical-interface',
          'physical-router', 'physical-interface', ['has'], 'optional', 'CRUD',
          'Physical interfaces on physical routers.') -->

<!-- connection between two physical interfaces -->
<xsd:element name="physical-interface-connection" />
<!--#IFMAP-SEMANTICS-IDL
          Link('physical-interface-connection',
          'physical-interface', 'physical-interface', ['ref'], 'optional', 'CRUD',
          'Reference to the other physical interface that is connected to this  physical interface.') -->

<xsd:element name="logical-interface" type="ifmap:IdentityType"/>
<xsd:element name="physical-router-logical-interface"/>
<xsd:element name="physical-interface-logical-interface"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('physical-router-logical-interface',
          'physical-router', 'logical-interface', ['has'], 'optional', 'CRUD',
          'Logical interfaces on physical routers.');
     Link('physical-interface-logical-interface',
          'physical-interface', 'logical-interface', ['has'], 'optional', 'CRUD',
          'Logical interfaces on physical interface on physical routers.') -->

<xsd:element name="logical-interface-vlan-tag" type="xsd:integer"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('logical-interface-vlan-tag', 'logical-interface', 'optional', 'CRUD',
              'VLAN tag (.1Q) classifier for this logical interface.') -->

<xsd:element name="logical-interface-port-params" type="PortParameters"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('logical-interface-port-params', 'logical-interface', 'optional', 'CRUD',
              'User can select this option to configure port parameters such as description, MTU and port enable or disable.') -->

<xsd:element name="logical-interface-qos-params" type="QualityOfServiceParams"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('logical-interface-qos-params', 'logical-interface', 'optional', 'CRUD',
              'This is to configure any parameters affecting quality of service.') -->

<xsd:element name="device-image" type="ifmap:IdentityType"/>

<xsd:element name="global-system-config-device-image"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('global-system-config-device-image',
             'global-system-config', 'device-image', ['has'], 'optional', 'CRUD',
             'list of device image info for the images that get uploaded to the system.') -->

<xsd:element name="device-image-vendor-name" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('device-image-vendor-name', 'device-image', 'required', 'CRUD',
              'Vendor name for device image. It is used by device manager during device image upgrade to match the PRouters vendor name') -->

<xsd:element name="device-image-device-family" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('device-image-device-family', 'device-image', 'required', 'CRUD',
              'Device family name for device image. It is used by device manager during device image upgrade to match the family name of the PRouter') -->

<xsd:element name="device-image-supported-platforms" type="DevicePlatformListType"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('device-image-supported-platforms', 'device-image', 'optional', 'CRUD',
              'List of device platforms that this image can be installed on. It is used by device manager during device image upgrade validate the PRouters product_name property. If this property is not specified, then this image can be installed on all platforms of the device family') -->

<xsd:element name="device-image-os-version" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('device-image-os-version', 'device-image', 'required', 'CRUD',
              'OS version string on the device where this image is installed. This version string should match the PRouters operational state PRouterUVE.os_version attribute if the image is successfully installed on the PRouter') -->

<xsd:element name="device-image-file-uri" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('device-image-file-uri', 'device-image', 'optional', 'CRUD',
              'file uri for the device image uploaded to the image server.') -->

<xsd:element name="device-image-size" type="xsd:integer"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('device-image-size', 'device-image', 'optional', 'CRUD',
              'file size of the device image that was uploaded to the image server.') -->

<xsd:element name="device-image-md5" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('device-image-md5', 'device-image', 'optional', 'CRUD',
              'md5 checksum of the image file that was uploaded to the image server.') -->

<xsd:element name="device-image-sha1" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('device-image-sha1', 'device-image', 'optional', 'CRUD',
              'sha1 checksum of the image file that was uploaded to the image server.') -->

<xsd:element name="device-image-hardware"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('device-image-hardware', 'device-image', 'hardware', ['ref'], 'optional', 'CRUD',
             'linking the hardware that is associated to image') -->

<xsd:element name="link-aggregation-group" type="ifmap:IdentityType"/>
<xsd:element name="link-aggregation-group-lacp-enabled" type="xsd:boolean"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('link-aggregation-group-lacp-enabled', 'link-aggregation-group', 'required', 'CRUD',
              'Flag to turn on or off Link Aggregation Control Protocol (LACP) on this link aggregation group.') -->
<xsd:element name="link-aggregation-group-physical-interface"/>
<!--#IFMAP-SEMANTICS-IDL
         Link('link-aggregation-group-physical-interface', 'link-aggregation-group', 'physical-interface', ['ref'], 'optional', 'CRUD',
         'All the interfaces that belongs to the LAG. There should be exact one ref edge that points to the lag interface and two or more ref-edges points to the regular interfaces.') -->

<xsd:element name="virtual-port-group" type="ifmap:IdentityType"/>

<xsd:element name="fabric-virtual-port-group"/>
<xsd:element name="project-virtual-port-group"/>
<!--#IFMAP-SEMANTICS-IDL
         Link('fabric-virtual-port-group',
              'fabric', 'virtual-port-group', ['has'], 'optional', 'CRUD',
              'List of virtual port groups in this fabric.');
         Link('project-virtual-port-group',
              'project', 'virtual-port-group', ['has'], 'optional', 'CRUD',
              'List of virtual port groups/trunk ports in this project.')
 -->

<xsd:element name="virtual-port-group-lacp-enabled" type="xsd:boolean"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('virtual-port-group-lacp-enabled', 'virtual-port-group', 'required', 'CRUD',
              'Flag to turn on or off Link Aggregation Control Protocol (LACP) on this link aggregation group.') -->

<xsd:element name="virtual-port-group-trunk-port-id" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('virtual-port-group-trunk-port-id', 'virtual-port-group', 'required', 'CR',
              'id of the port that enables multi valn trunking.') -->

<xsd:element name="virtual-port-group-user-created" type="xsd:boolean" default='true'/>
<!--#IFMAP-SEMANTICS-IDL
          Property('virtual-port-group-user-created', 'virtual-port-group', 'optional', 'CRUD',
              'Flag to be set to True when its externally created and False when created internally. Default is set to True') -->

<xsd:element name="virtual-port-group-type" type='VpgType' default="access"/>
<!--#IFMAP-SEMANTICS-IDL
               Property('virtual-port-group-type', 'virtual-port-group', 'optional', 'CRUD',
                   'Type of Virtual port group. It can be either access i.e L2 connectivity or routed.') -->

<xsd:element name="virtual-port-group-physical-interface" type="VpgInterfaceParametersType"/>
<!--#IFMAP-SEMANTICS-IDL
         Link('virtual-port-group-physical-interface', 'virtual-port-group', 'physical-interface', ['ref'], 'optional', 'CRUD',
         'All the physical interfaces that belong to this link aggregation group. The physical interface could belong to the same or different physical router') -->

<xsd:element name="virtual-port-group-virtual-machine-interface"/>
<!--#IFMAP-SEMANTICS-IDL
         Link('virtual-port-group-virtual-machine-interface', 'virtual-port-group', 'virtual-machine-interface', ['ref'], 'optional', 'CRUD',
         'list of virtual machine interfaces that are part of this virtual port group') -->

<xsd:element name="link-aggregation-group-virtual-machine-interface"/>
<!--#IFMAP-SEMANTICS-IDL
         Link('link-aggregation-group-virtual-machine-interface', 'link-aggregation-group', 'virtual-machine-interface', ['ref'], 'optional', 'CRUD',
         'list of virtual machine interfaces connected to this link aggregation group') -->

<xsd:element name="virtual-port-group-security-group"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('virtual-port-group-security-group', 'virtual-port-group', 'security-group', ['ref'], 'optional', 'CRUD',
          'Interface ACL, automatically generated by system based on security groups attached to this virtual port group.') -->

<xsd:element name="logical-interface-type" type="LogicalInterfaceType"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('logical-interface-type', 'logical-interface', 'optional', 'CRUD',
              ['Logical interface type can be L2 or L3.',
               ' L2 - only L2 service is provided, MAC learning is supported.',
               ' L3 - only L3 service is supported and MAC learning is not supported.']) -->

<xsd:simpleType name="VpgType">
     <xsd:restriction base='xsd:string'>
         <xsd:enumeration value='access'/>
         <xsd:enumeration value='routed'/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="ManagedStateType">
     <xsd:restriction base='xsd:string'>
         <xsd:enumeration value='dhcp'/>
         <xsd:enumeration value='rma'/>
         <xsd:enumeration value='activating'/>
         <xsd:enumeration value='active'/>
         <xsd:enumeration value='maintenance'/>
         <xsd:enumeration value='error'/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="CommitStateType">
     <xsd:restriction base='xsd:string'>
         <xsd:enumeration value='in_sync'/>
         <xsd:enumeration value='out_of_sync'/>
     </xsd:restriction>
</xsd:simpleType>

<xsd:element name="physical-router-device-family" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-device-family', 'physical-router', 'required', 'CRUD',
              'Device family that this physical router is part of. It is used by the device manager to choose the device family specific Ansible playbooks for device management') -->

<xsd:element name="physical-router-os-version" type="xsd:string"/>
    <!--#IFMAP-SEMANTICS-IDL
              Property('physical-router-os-version', 'physical-router', 'optional', 'CRUD',
                  'os version for this physical router. It is updated when device is imported or device image is successfully upgraded') -->

<xsd:element name="physical-router-hostname" type="xsd:string"/>
    <!--#IFMAP-SEMANTICS-IDL
              Property('physical-router-hostname', 'physical-router', 'optional', 'CRUD',
                  'Device host name that can be either discovered during via fabric on-boarding workflow or manually set by the user') -->

<xsd:element name="physical-router-management-ip" type="smi:IpAddress"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-management-ip', 'physical-router', 'required', 'CRUD',
              'Management ip for this physical router. It is used by the device manager to perform netconf and by SNMP collector if enabled.') -->

<xsd:element name="physical-router-management-mac" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-management-mac', 'physical-router', 'optional', 'CRUD',
              'Management mac for this physical router.') -->

<xsd:element name="physical-router-dataplane-ip" type="smi:IpAddress"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-dataplane-ip', 'physical-router', 'optional', 'CRUD',
              'This is ip address in the ip-fabric(underlay) network that can be used in data plane by physical router. Usually it is the VTEP address in VxLAN for the TOR switch.') -->

<xsd:element name="physical-router-loopback-ip" type="smi:IpAddress"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-loopback-ip', 'physical-router', 'optional', 'CRUD',
              'This is ip address of loopback interface of physical router. Used by the device manager to configure physical router loopback interface.') -->

<xsd:element name="physical-router-replicator-loopback-ip" type="smi:IpAddress"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-replicator-loopback-ip', 'physical-router', 'optional', 'CRUD',
              'This is the loopback ip address for assisted replication. Used by the device manager to configure physical router replicator ip.') -->

<xsd:element name="physical-router-vendor-name" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-vendor-name', 'physical-router', 'required', 'CRUD',
              'Vendor name of the physical router (e.g juniper). Used by the device manager to select driver.') -->

<xsd:element name="physical-router-product-name" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-product-name', 'physical-router', 'required', 'CRUD',
              'Model name of the physical router (e.g juniper). Used by the device manager to select driver.') -->

<xsd:element name="physical-router-serial-number" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-serial-number', 'physical-router', 'optional', 'CRUD',
              'Serial number for the physical device that is used by device manager to identify the device during device discovery.') -->

<xsd:element name="physical-router-vnc-managed" type="xsd:boolean"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-vnc-managed', 'physical-router', 'optional', 'CRUD',
              'This physical router is enabled to be configured by device manager.') -->

<xsd:element name="physical-router-underlay-managed" type="xsd:boolean" default="false"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-underlay-managed', 'physical-router', 'optional', 'CRUD',
              'Set to true if underlay is configured by device manager. The greenfield ZTP workflow sets this attribute to true. The brownfield on-boarding sets this attribute to false.') -->

<xsd:element name="physical-router-role" type="PhysicalRouterRole"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-role', 'physical-router', 'optional', 'CRUD',
              'Physical router role (e.g spine or leaf), used by the device manager to provision physical router, for e.g device manager may choose to configure physical router based on its role.') -->

<xsd:element name="routing-bridging-roles" type="RoutingBridgingRolesType"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('routing-bridging-roles', 'physical-router', 'optional', 'CRUD',
              'Routing-bridging role (e.g. CRB, ERB, etc.), used by the device manager to provision physical router, for e.g device manager may choose to configure physical router based on its role.') -->

<xsd:element name="physical-router-snmp" type="xsd:boolean"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-snmp', 'physical-router', 'optional', 'CRUD',
              'SNMP support on this router') -->

<xsd:element name="physical-router-lldp" type="xsd:boolean"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-lldp', 'physical-router', 'optional', 'CRUD',
              'LLDP support on this router') -->

<xsd:element name="physical-router-user-credentials" type="UserCredentials"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-user-credentials', 'physical-router', 'optional', 'CRUD',
              'Username and password for netconf to the physical router by device manager.') -->

<xsd:element name="physical-router-encryption-type" type="CredentialEncryptionType"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-encryption-type', 'physical-router', 'optional', 'CRUD',
              'Type of encryption used for physical-router-user-credentials.') -->

<xsd:element name="physical-router-snmp-credentials" type='SNMPCredentials'/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-snmp-credentials', 'physical-router', 'optional', 'CRUD',
              'SNMP credentials for the physical router used by SNMP collector.') -->

<xsd:element name="physical-router-dhcp-parameters" type='DnsmasqLeaseParameters'/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-dhcp-parameters', 'physical-router', 'optional', 'CRUD',
              'Dnsmasq lease parameters for the physical router.') -->

<xsd:element name="physical-router-cli-commit-state" type='CommitStateType' default='in_sync'/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-cli-commit-state', 'physical-router', 'optional', 'CRUD',
              'CLI commit state for the physical router. Used to check if device is in sync with Contrail managed configs') -->

<xsd:element name="physical-router-managed-state" type='ManagedStateType' default="active"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-managed-state', 'physical-router', 'optional', 'CRUD',
              'Managed state for the physical router. Used to RMA devices') -->

<xsd:element name="physical-router-underlay-config" type='xsd:string'/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-underlay-config', 'physical-router', 'optional', 'CRUD',
              'Brownfield device underlay configuration stored during underlay onboarding. Only valid if physical-router-underlay-managed is false') -->

<xsd:element name="physical-router-supplemental-config" type='xsd:string'/>
<!--#IFMAP-SEMANTICS-IDL
          Property('physical-router-supplemental-config', 'physical-router', 'optional', 'CRUD',
              'Supplemental configuration stored during ZTP onboarding.') -->

<xsd:element name="physical-router-autonomous-system" type="AutonomousSystemsType"/>
<!--#IFMAP-SEMANTICS-IDL
         Property('physical-router-autonomous-system', 'physical-router', 'optional', 'CRUD',
         'Autonomous system configured on the device represented by the physical router.') -->

<xsd:complexType name="BaremetalProperties">
    <xsd:all>
        <xsd:element name="memory-mb" type="xsd:integer"
                     description="RAM of the Baremetal server (in MB)" />
        <xsd:element name="cpu-arch" type="xsd:string"
                     description="Architecture of the baremetal server" />
        <xsd:element name="local-gb" type="xsd:integer"
                     description="Disk size of root device (in GB)" />
        <xsd:element name="cpus" type="xsd:integer"
                     description="Number of CPU cores on the baremetal" />
        <xsd:element name="capabilities" type="xsd:string"
                     description="Boot option" />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="PortGroupProperties">
    <xsd:all>
        <xsd:element name="miimon" type="xsd:integer"
                     description="Specifies the MII link monitoring frequency in milliseconds." />
        <xsd:element name="xmit-hash-policy" type="xsd:string"
                     description="Transmit hash policy to use for slave selection in balance-xor, 802.3ad, and tlb modes." />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="ESXIProperties">
    <xsd:all>
        <xsd:element name="dvs_name" type="xsd:string"
                     description="Name of the Distributed Virtual Switch(DVS) assigned to Port." />
        <xsd:element name="dvs_id" type="xsd:string"
                     description="MOid of the Distributed Virtual Switch(DVS) assigned to Port." />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="BaremetalPortInfo">
    <xsd:all>
        <xsd:element name="pxe-enabled" type="xsd:boolean"
                     description="Indicates whether PXE is enabled or disabled on the Port." />
        <xsd:element name="local-link-connection" type="LocalLinkConnection"
                     description="The Port binding profile" />
        <xsd:element name="node-uuid" type="xsd:string"
                     description="UUID of the parent node where this port is connected" />
        <xsd:element name="address" type="xsd:string"
                     description="Mac Address of the NIC in Node" />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="CloudInstanceInfo">
    <xsd:all>
        <xsd:element name="os-version" type="xsd:string"
                     description="specific version of operating system" />
        <xsd:element name="operating-system" type="xsd:string"
                     description="Name of operating system, ex - centos7 or ubuntu16" />
        <xsd:element name="roles" type=""
                     description="Roles of the cloud instance" maxOccurs="unbounded"/>
        <xsd:element name="availability-zone" type="xsd:string"
                     description="Availability zone to which the instance belongs to" />
        <xsd:element name="instance-type" type="xsd:string"
                     description="size of instance" />
        <xsd:element name="machine-id" type="xsd:string"
                     description="image (ami) id of instance" />
        <xsd:element name="volume-size" type="xsd:integer"
                     description="Size of the volume for the cloud instance" />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="LocalLinkConnection">
    <xsd:all>
        <xsd:element name="switch-info" type="xsd:string"
                     description="UUID of the Physical-Port with contrail database" />
        <xsd:element name="port-index" type="xsd:string"
                     description="Port-Id provided by LLDP, This usually maps to SnmpIndex" />
        <xsd:element name="port-id" type="xsd:string"
                     description="Port ID of switch where Baremetal is connected" />
        <xsd:element name="switch-id" type="xsd:string"
                     description="Switch hostname" />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="ESXIHostInfo">
    <xsd:all>
        <xsd:element name="username" type="xsd:string"
                     description="username" />
        <xsd:element name="datacenter" type="xsd:string"
                     description="datacenter in vCenter" />
        <xsd:element name="esxi-name" type="xsd:string"
                     description="ESXI host name(ip)" />
        <xsd:element name="cluster" type="xsd:string"
                     description="cluster in vCenter" />
        <xsd:element name="mac" type="xsd:string"
                     description="mac address for contrailvm" />
        <xsd:element name="datastore" type="xsd:string"
                     description="datastore in vCenter" />
        <xsd:element name="password" type="xsd:string"
                     description="ESXI host password" />
        <xsd:element name="vcenter-server" type="xsd:string"
                     description="vCenter server" />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="DriverInfo">
    <xsd:all>
        <xsd:element name="ipmi-address" type="xsd:string"
                     description="IPMI address of the server to manage boot device and power management" />
        <xsd:element name="deploy-ramdisk" type="xsd:string"
                     description="UUID of the deploy initrd/ramdisk" />
        <xsd:element name="ipmi-password" type="xsd:string"
                     description="Password to access IPMI" />
        <xsd:element name="ipmi-port" type="xsd:string"
                     description="Remote IPMI RMCP port" />
        <xsd:element name="ipmi-username" type="xsd:string"
                     description="Username to access IPMI" />
        <xsd:element name="deploy-kernel" type="xsd:string"
                     description="UUID of the deploy kernel" />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="SriovInfo">
    <xsd:all>
        <xsd:element name="sriov-physical-interface" type="xsd:string"
                     description="SRIOV Physical Interface" />
        <xsd:element name="sriov-vf" type="xsd:integer"
                     description="SRIOV Virtual Function" />
        <xsd:element name="sriov-physical-net" type="xsd:string"
                     description="SRIOV Physical Network" />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="BaremetalPortGroupInfo">
    <xsd:all>
        <xsd:element name="standalone-ports-supported" type="xsd:boolean"
                     description="Indicates whether ports that are members of this portgroup can be used as stand-alone ports." />
        <xsd:element name="node-uuid" type="xsd:string"
                     description="UUID of the parent node where this port is connected" />
        <xsd:element name="properties" type="PortGroupProperties"
                     description="Key/value properties related to the port group's configuration." />
        <xsd:element name="address" type="xsd:string"
                     description="Mac Address of the NIC in Node" />
        <xsd:element name="mode" type="xsd:string"
                     description="Mode of the port group" />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="DpdkInfo">
    <xsd:all>
        <xsd:element name="cpu-core-mask" type="xsd:string"
                     description="CPU Core Mask" />
        <xsd:element name="dpdk-uio-driver" type="xsd:string"
                     description="UIO Driver" />
        <xsd:element name="huge-pages" type="xsd:integer"
                     description="Hugepages Size" />
    </xsd:all>
</xsd:complexType>

<xsd:complexType name="BaremetalServerInfo">
    <xsd:all>
        <xsd:element name="network-interface" type="xsd:string"
                     description="Networking interface" />
        <xsd:element name="driver" type="xsd:string"
                     description="IPMI driver" />
        <xsd:element name="properties" type="BaremetalProperties"
                     description="Details of baremetal hardware for scheduler" />
        <xsd:element name="driver-info" type="DriverInfo"
                     description="Details of the driver for power management" />
        <xsd:element name="name" type="xsd:string"
                     description="Name of the Baremetal server" />
    </xsd:all>
</xsd:complexType>


<xsd:element name="node" type="ifmap:IdentityType"/>

<xsd:element name="node_type" type="NodeType"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('node_type', 'node', 'optional', 'CRUD',
              'Type of machine resource') -->

<xsd:simpleType name="NodeType">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="private"/>
        <xsd:enumeration value="baremetal"/>
        <xsd:enumeration value="esxi"/>
        <xsd:enumeration value="ovs-compute"/>
        <xsd:enumeration value="sriov-compute"/>
    </xsd:restriction>
</xsd:simpleType>

<xsd:element name="esxi-info" type="ESXIHostInfo"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('esxi-info', 'node', 'optional', 'CRUD',
              'Details of the ESXI host') -->
<xsd:element name="ip-address" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('ip-address', 'node', 'optional', 'CRUD',
              'IP Address of the Management interface') -->
<xsd:element name="hostname" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('hostname', 'node', 'optional', 'CRUD',
              'Fully qualified host name') -->
<xsd:element name="bms-info" type="BaremetalServerInfo"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('bms-info', 'node', 'optional', 'CRUD',
              'Details of the baremetal server') -->
<xsd:element name="mac-address" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('mac-address', 'node', 'optional', 'CRUD',
              'Provisioning Interface MAC Address') -->
<xsd:element name="disk-partition" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('disk-partition', 'node', 'optional', 'CRUD',
              'Comma seperated disk partition to use.') -->
<xsd:element name="interface-name" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('interface-name', 'node', 'optional', 'CRUD',
              'Name of the Management interface') -->
<xsd:element name="cloud-info" type="CloudInstanceInfo"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('cloud-info', 'node', 'optional', 'CRUD',
              'Information related to cloud') -->

<xsd:element name="node-node-profile"  />
<!--#IFMAP-SEMANTICS-IDL
     Link('node-node-profile', 'node', 'node-profile', ['ref'], 'optional', 'CRUD',
          'Reference to matching node-profile object for this node') -->

<xsd:element name="global-system-config-node"  />
<!--#IFMAP-SEMANTICS-IDL
     Link('global-system-config-node', 'global-system-config', 'node', ['has'], 'optional', 'CRUD',
          'Parent of this node resource.') -->

<xsd:element name="port" type="ifmap:IdentityType"/>

<xsd:element name="port-group-uuid" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('port-group-uuid', 'port', 'optional', 'CRUD',
              'UUID of the port group in which this port belongs') -->

<xsd:element name="bms-port-info" type="BaremetalPortInfo"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('bms-port-info', 'port', 'optional', 'CRUD',
              'Details of the baremetal server port') -->
<xsd:element name="esxi-port-info" type="ESXIProperties"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('esxi-port-info', 'port', 'optional', 'CRUD',
              'Information related to Port-ESXi/vCenter') -->
<xsd:element name="label" type="xsd:string"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('label', 'port', 'optional', 'CRUD',
              'Label of the interface representing the use of the interface.') -->

<xsd:element name="node-port"  />
<!--#IFMAP-SEMANTICS-IDL
     Link('node-port', 'node', 'port', ['has'], 'optional', 'CRUD',
          'Parent of this port.') -->

<xsd:element name="port-group" type="ifmap:IdentityType"/>

<xsd:element name="bms-port-group-info" type="BaremetalPortGroupInfo"/>
<!--#IFMAP-SEMANTICS-IDL
     Property('bms-port-group-info', 'port-group', 'optional', 'CRUD',
              'Details of the baremetal server port group') -->

<xsd:element name="port-group-port"  />
<!--#IFMAP-SEMANTICS-IDL
     Link('port-group-port', 'port-group', 'port', ['ref'], 'optional', 'CRUD',
          'Reference to port object which are part of this port group.') -->

<xsd:element name="node-port-group"  />
<!--#IFMAP-SEMANTICS-IDL
     Link('node-port-group', 'node', 'port-group', ['has'], 'optional', 'CRUD',
          'Parent of this port group.') -->

<xsd:element name="physical-interface-port"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('physical-interface-port', 'physical-interface', 'port', ['ref'], 'optional', 'CRUD',
          'This link represents physical connection from access port of a switch to the server port') -->
<xsd:element name="feature" type="ifmap:IdentityType"
    description="A granual networking feature supported by Fabric Manager"/>

<xsd:element name="global-system-config-feature"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('global-system-config-feature', 'global-system-config', 'feature', ['has'], 'optional', 'CRUD',
             'list of features supported by the system.') -->

<xsd:element name="feature-feature"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('feature-feature', 'feature', 'feature', ['ref'], 'optional', 'CRUD',
             'list of features this feature is dependent on.') -->

<xsd:element name="physical-role" type="ifmap:IdentityType"
    description="Defines a physical role"/>

<xsd:element name="global-system-config-physical-role"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('global-system-config-physical-role', 'global-system-config', 'physical-role', ['has'], 'optional', 'CRUD',
             'list of physical roles supported by the system.') -->

<xsd:element name="overlay-role" type="ifmap:IdentityType"
    description="Defines an overlay role"/>

<xsd:element name="global-system-config-overlay-role"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('global-system-config-overlay-role', 'global-system-config', 'overlay-role', ['has'], 'optional', 'CRUD',
             'list of overlay roles supported by the system.') -->

<xsd:element name="role-definition" type="ifmap:IdentityType"
    description="Defines a role combination which comprises of a physical role and overlay role and the features associated with it."/>

<xsd:element name="global-system-config-role-definition"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('global-system-config-role-definition', 'global-system-config', 'role-definition', ['has'], 'optional', 'CRUD',
             'list of role definitions supported by the system.') -->
<xsd:element name="role-definition-feature"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('role-definition-feature', 'role-definition', 'feature', ['ref'], 'optional', 'CRUD',
             'list of features for this role definition.') -->
<xsd:element name="role-definition-physical-role"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('role-definition-physical-role', 'role-definition', 'physical-role', ['ref'], 'optional', 'CRUD',
             'physical role for this role definition.') -->
<xsd:element name="role-definition-overlay-role"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('role-definition-overlay-role', 'role-definition', 'overlay-role', ['ref'], 'optional', 'CRUD',
             'overlay role for this role definition.') -->

<xsd:element name="feature-config" type="ifmap:IdentityType"
    description="Vendor specific and/or feature specific configuration parameters editable by the user"/>

<xsd:element name="feature-config-additional-params" type="KeyValuePairs"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('feature-config-additional-params', 'feature-config', 'optional', 'CRUD',
              'Additional configuration parameters for the feature.') -->
<xsd:element name="feature-config-vendor-config" type="KeyValuePairs"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('feature-config-vendor-config', 'feature-config', 'optional', 'CRUD',
              'Vendor specific configuration/parameters for the feature.') -->
<xsd:element name="role-definition-feature-config"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('role-definition-feature-config', 'role-definition', 'feature-config', ['has'], 'optional', 'CRUD',
             'list of feature configs for this role definition.') -->

<xsd:element name="telemetry-profile" type="ifmap:IdentityType"
    description="Encapsulates data related to telemetry from network devices like sflow, JTI, gRPC, SNMP etc"/>

<xsd:element name="project-telemetry-profile"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('project-telemetry-profile', 'project', 'telemetry-profile', ['has'], 'optional', 'CRUD',
             'list of telemetry profiles supported under the project.') -->
<xsd:element name="telemetry-profile-is-default" type="xsd:boolean" default="false"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('telemetry-profile-is-default', 'telemetry-profile', 'optional', 'CRUD',
              'This attribute indicates whether it is a default telemetry profile or not. Default profiles are non-editable.') -->

<xsd:element name="telemetry-profile-sflow-profile"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('telemetry-profile-sflow-profile', 'telemetry-profile', 'sflow-profile', ['ref'], 'optional', 'CRUD',
             'Sflow profile that this telemetry profile uses. Only one sflow profile can be associated to one telemetry profile.') -->
<xsd:element name="physical-router-telemetry-profile"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('physical-router-telemetry-profile', 'physical-router', 'telemetry-profile', ['ref'], 'optional', 'CRUD',
             'Telemetry profile assigned to the physical router by user. Each physical router is associated with only one telemetry profile.') -->

<xsd:element name="sflow-profile" type="ifmap:IdentityType"
    description="This resource contains information specific to sflow parameters"/>

<xsd:element name="project-sflow-profile"/>
<!--#IFMAP-SEMANTICS-IDL
          Link('project-sflow-profile', 'project', 'sflow-profile', ['has'], 'optional', 'CRUD',
             'list of sflow profiles supported under the project.') -->
<xsd:element name="sflow-profile-is-default" type="xsd:boolean" default="false"/>
<!--#IFMAP-SEMANTICS-IDL
          Property('sflow-profile-is-default', 'sflow-profile', 'optional', 'CRUD',
              'This attribute indicates whether it is a default sflow profile or not. Default profiles are non-editable.') -->

<xsd:element name="sflow-parameters" type="SflowParameters"/>
<!--#IFMAP-SEMANTICS-IDL
              Property('sflow-parameters', 'sflow-profile', 'optional', 'CRUD',
                  'Parameters for each sflow profile, such as polling interval, sample rate, list of sflow enabled interfaces, sflow agent ID etc.') -->

<xsd:element name="storm-control-profile" type="ifmap:IdentityType"
    description="Storm control profile definition"/>

<xsd:element name="project-storm-control-profile"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-storm-control-profile', 'project', 'storm-control-profile', ['has'], 'optional', 'CRUD',
        'list of storm control profiles supported.') -->
<xsd:element name="storm-control-parameters" type="StormControlParameters"/>
<!--#IFMAP-SEMANTICS-IDL
         Property('storm-control-parameters', 'storm-control-profile', 'optional', 'CRUD',
             'Parameters for the storm control profile, such as bandwidth percentage, actions, traffic type, receovery timeout etc.') -->

<xsd:element name="port-profile" type="ifmap:IdentityType"
    description="Encapsulates port configurations like storm control, QoS etc"/>

<xsd:element name="project-port-profile"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('project-port-profile', 'project', 'port-profile', ['has'], 'optional', 'CRUD',
        'Encapsulates port configurations like storm control etc') -->
<xsd:element name="port-profile-storm-control-profile"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('port-profile-storm-control-profile', 'port-profile', 'storm-control-profile', ['ref'], 'optional', 'CRUD',
        'Storm control profile that this port profile uses.') -->
<xsd:element name="virtual-machine-interface-port-profile"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('virtual-machine-interface-port-profile', 'virtual-machine-interface', 'port-profile', ['ref'], 'optional', 'CRUD',
        'Port profiles attached to this virtual machine interface') -->
<xsd:element name="virtual-port-group-port-profile"/>
<!--#IFMAP-SEMANTICS-IDL
     Link('virtual-port-group-port-profile', 'virtual-port-group', 'port-profile', ['ref'], 'optional', 'CRUD',
        'Port profiles attached to this virtual port group') -->
</xsd:schema>
